@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 361px;
  margin: 0 auto;
  background-color: var(--main-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


figure {
  margin: 0;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
  }

.flex   {
    display: flex;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .btn-reset {
    position: relative;
    z-index: 200;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }
/*------header------*/
.header {
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: blue;
}

.header__title  {
    text-align: center;
    color: aliceblue;
}

/*------content------*/

.section-default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-title  {
    margin-bottom: 30px;
    color: crimson;
    text-align: center;
    text-transform: uppercase;
}

/*-------------CHECKBOX STYLIZATION------------*/
.label-2    {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}
#check-2    {
    display: none;
    pointer-events: none;
}

#check-2 + span {
   position: absolute; 
   top: 0;
   left: 0;
   width: 20px;
   height: 20px;
   text-align: center;
    border: 1px solid #787878;
}

#check-2 + span::before {
    content: '\2713';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out ;
}

#check-2:checked + span::before {
    opacity: 1;
}